* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f9f9f9;
            color: #333;
            line-height: 1.6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }


body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h2 {
            color: rgb(179, 138, 216);
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(186, 64, 64, 0.1);
            max-width: 400px;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        h2:hover {
            color: purple;
            transform: scale(1.05);
            transition: all 0.3s ease;
        }